body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 100vw;
    min-height: 100vh;
    background: white;
    padding: 0%;
    margin: 0%;
}
.container1{
    flex-basis: 0;
    flex-grow: 1;
    background: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    margin:0%;
    padding: 0%;
}
.datos{
    display: inline-flex;
    margin: 0 auto;    
    width: auto;   
}
.datos h1{     
    font-family:'Courier New', Courier, monospace;
    font-size:  1.5vw;
    margin-top: 2vw;
    margin-right: 0.5vw;      
    color: rgb(194, 191, 191);      
}
.linkedin{   
    background: none;
    color: rgb(194, 191, 191);
    font-size: 3vw;
    margin-left: 0.5vw;
    border: 0.2vw solid white;        
}
.linkedin:hover{
transform: scale(1.1);
border-color: #c78c19;    
}

@media screen and (max-width:480px){

    .datos h1{     
        font-family:'Courier New', Courier, monospace;
        font-size:  4.5vw;
        margin-top: 2vw;
        margin-right: 0.5vw;      
        color: rgb(194, 191, 191);      
    }
    .linkedin{   
        background: none;
        color: rgb(194, 191, 191);
        font-size: 5vw;
        margin-left: 0.5vw;
        border: 0.2vw solid white;        
    }

}